<link rel="stylesheet" href="/src/css/ticket.css">

<div class="contenedor">
  <div class="panel">
    <div class="grupo-undo-redo">
      <button class="btn-undo-redo" onclick="undo()">←</button>
      <button class="btn-undo-redo" onclick="redo()">→</button>
    </div>

    <button onclick="activarEdicion()">Editar ticket</button>
    <button onclick="recargarProductos()">Importar venta</button>
    <button onclick="guardarTicketPDF()">Guardar PDF</button>
    <button onclick="imprimir()">Imprimir</button>
  </div>

  <div class="area-ticket">
    <div class="scroll-ticket">
      <div class="ticket" id="ticket">
        <img id="logo" class="logo">

        <div id="contenido">
          <p style="text-align:center;">¡Bienvenido!</p>
          <p>Fecha: <span id="fecha"></span></p>
          <hr>
          <table>
            <tbody id="tbodyProductos"></tbody>
          </table>
          <p id="total">Total: $0</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/src/js/html2pdf.bundle.min.js"></script>
<script defer src="/src/js/controlls/ticket.js"></script>
