<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Ticketfinal</title>

<link rel="stylesheet" href="../../css/ticket.css">

</head>
<body>

<div class="contenedor">

<div class="panel">

<div class="grupo-undo-redo">
    <button class="btn-undo-redo" onclick="undo()">←</button>
    <button class="btn-undo-redo" onclick="redo()">→</button>
</div>

<button id="btnEditar" onclick="activarEdicion()">Editar ticket</button>
<button id="btnProducto" onclick="recargarProductos()">Importar venta</button>
<button id="btnGuardar" onclick="guardarTicketPDF()">Guardar PDF</button>
<button id="btnImprimir" onclick="imprimir()">Imprimir</button>

</div>

<div class="area-ticket">
<div class="scroll-ticket">
<div class="ticket" id="ticket">

<img id="logo" class="logo">
<br><br><br>

<div id="contenido" contenteditable="false">

<p style="text-align:center;">¡Bienvenido!</p>

<p>Fecha: <span id="fecha"></span></p>
<p>Atiende:</p>
<p>Caja:</p>

<hr>

<table>
<thead>
<tr>
<th>Producto</th>
<th>Cant</th>
<th>Precio</th>
<th>Subtotal</th>
</tr>
</thead>
<tbody id="tbodyProductos">
</tbody>
</table>

<hr>
<p style="text-align:right;"><b id="total">Total: $0</b></p>
<p id="pago">Pago efectivo: $0</p>
<p id="cambio">Cambio: $0</p>

<hr>
<p style="text-align:center;">¡Gracias por su compra! :)</p>

</div>
</div>
</div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="../../js/controlls/ticket.js"></script>

</body>
</html>
