    <header style="background-color: #5e5e5e; padding: 20px 0; border-bottom: #000000 3px solid; text-align: center;">
        <div class="Sistema de Punto de Venta Universal" >
        <h1 class="titulo">Sistema de Punto de Venta Universal</h1>
        <p class="text-secondary"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Bienvenido al Sistema de Punto de Venta Universal</font></font></p>
        <p class="text-secondary"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Pachuca Hidalgo</font></font></p>
    </header>

<div class="row">
<div class="container text-center">
  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="card text-white bg-primary md-3" style="">
      <div class="card-header">Inicio</div>
      <div class="card-body">
        <a href="Inicio.html" class="text-decoration-none">
          <img src="src/assets/tienda.png" width="50%" />
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-2 col-md-2 offset-md-2 col-lg-2 offset-lg-0">
    <div class="card text-white bg-secondary md-3" style="">
      <div class="card-header">Usuario</div>
        <div class="card-body">
        <a href="Usuario.html" class="text-decoration-none">
          <img src="src/assets/persona.png" width="50%" />
        </a>
        </div>
    </div>
  </div>
  

  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="card text-white bg-success m-3" style="">
      <div class="card-header">Ventas</div>
        <div class="card-body">
        <a href="Ventas.html" class="text-decoration-none">
          <img src="src/assets/ventas.png" width="50%" />
        </a>
        </div>
    </div>
  </div>

  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="card text-white bg-danger m-3" style="">
      <div class="card-header">Corte</div>
        <div class="card-body">
        <a href="Corte.html" class="text-decoration-none">
          <img src="src/assets/corte.png" width="50%" />
        </a>
        </div>
    </div>
  </div>

  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="card text-white bg-warning m-3" style="">
      <div class="card-header">Almacen</div>
        <div class="card-body">
        <a href="Almacen.html" class="text-decoration-none">
          <img src="src/assets/almacen.png" width="50%" />
        </a>
        </div>
    </div>
  </div>  



  <div class="col-sm-2 col-md-3 col-xs-6">
    <div class="card text-white bg-info m-3" style="">
      <div class="card-header">Clientes</div>
        <div class="card-body">
        <a href="Clientes.html" class="text-decoration-none">
          <img src="src/assets/clientes.png" width="50%" />
        </a>
        </div>
    </div>
  </div>
</div>
</div>



<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-6">
    <div class="card">
      <div class="card-header">
        <label>Usuario</label>
        <input type="text" placeholder="tu usuario">
              
          <div class="card-header">
        <label>email</label>
        <input type="email" placeholder="tu correo">
          </div>
            <div class="card-footer">
              <input type="submit" value="Enviar">
            </div>
      </div>
    </div>
  </div>
</div>
    
<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    
    

