<div class="mb-3">
    <h3>Registro de usuario</h3>
    <p>Aquí puedes registrar un nuevo usuario.</p>
    <form id="registerForm" onsubmit="return false;">
        <div class="row mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="row mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="row mb-3">
            <label for="role" class="form-label">Rol</label>
            <input type="text" class="form-control" id="role" name="role" required>
        </div>
        <div class="row mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" minlength="8" required>
            <small class="form-text text-muted">Mínimo 8 caracteres</small>
        </div>
        <div class="row mb-3">
            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" minlength="8" required>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-center">
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms">Acepto los términos y condiciones</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-center">
                <a href="#/users/login">¿Ya tienes una cuenta? Inicia sesión aquí.</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-end">
                <button type="button" class="btn btn-primary" onclick="cusers.create('registerForm')">Registrar</button>
            </div>
        </div>
    </form>
</div>